DB_HOST=localhost
DB_PORT=6432
DB_NAME=fast_api
DB_USER=admin
DB_PASSWORD=admin
SECRET_KEY=gV64m9aIzFG4qpgVphvQbPQrtAO0nM-7YwwOvu0XPt5KJOjAy4AfgLkqJXYEt
ALGORITHM=HS256
KEYCLOAK_POSTGRES_USER=keycloak
KEYCLOAK_POSTGRES_PASSWORD=keycloak
KEYCLOAK_POSTGRES_DB=keycloak
KEYCLOAK_DB_PORT=6434
KEYCLOAK_ADMIN=admin@admin.rr
KEYCLOAK_ADMIN_PASSWORD=admin@admin.rr
KEYCLOAK_PORT=8080
KEYCLOAK_URL=http://localhost:8080
KEYCLOAK_REALM=tbcrealm
KEYCLOAK_CLIENT_ID=fastapiapp
KEYCLOAK_CLIENT_SECRET=pPN7UstOmkp7KCceF0rZDBTgPTjCvyHp
SESSION_MIDDLEWARE_SECRET_KEY=5f36bb2f3497accd1234abde5678efab987654321fedcba09876543210abcdef
FRONT_URL=http://localhost:8000
